@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: "Pockota";
    src: url("fonts/Pockota-LightItalic.otf");
}

@font-face {
    font-family: "Pockota Light";
    src: url("fonts/pockota-light.ttf");
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 60px;
}

h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Plus Jakarta Sans";
    color: #ffdd5f;
    font-size: 2rem;

}

.link{
    margin-left: auto;
    padding-right: 2vw;
    display: flex;
    gap: 12px;
}

header .link a{
    font-family: "Plus Jakarta Sans";
    color: #3d2100;
    text-decoration: none;
    text-decoration: none;
    font-style:  italic;
    padding: .5em 1em;
}
