*{
  box-sizing: border-box;
}

h2{
    font-family: "Pockota Light";
    color: #3d2100;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    position: relative;
}

p.hero{
  font-family: "Plus Jakarta Sans";
  color: #3d2100;
  text-align: center;
  font-size: 1rem;
}

.file-input {
  display: none;
}

.content{
    display: flex;
    flex-direction: column;
}
.file-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-box{
  background-color: #fff0b9;
  display: flex;
  min-width: 40vw;
  min-height: 20vh;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans";
  margin: 20px;
}

.file-submit-btn{
  display: flex;
  background-color: #ffdd5f;
  border: none;
  padding: 10px 30px;
  font-family: "Plus Jakarta Sans";
  border-radius: 20px;
  margin: 20px;
}

.prediction{
  background-color: #ffdd5f;
  min-height: 20rem;
  color: #3d2100;
}

.prediction h2{
  font-family: "Pockota";
  font-size: 3rem;
  text-align: center;
}

.zip-form{
  display: flex;
  flex-direction: column;
}

.prediction .title {
  font-family: "Pockota";
  font-size: 40px;
  color: #3d2100;
  text-align: center;
  margin-top: 20px;
}

.prediction .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.prediction #gif{
  width: 450px;
  height: 450px;
}

.prediction .paragraph{
  display: flex;
  font-family: "Plus Jakarta Sans";
  color: #3d2100;
  font-size: 1.3rem;
  justify-content: center;
  flex-direction: column;
}

.zip-form p{
  font-family: "Plus Jakarta Sans";
  text-align: center;
  color: #3d2100;

}

.zip-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zip-input{
  width: 400px;
  height: 40px;
  border: none;
  font-family: "Plus Jakarta Sans";
  margin-left: 12px;
}

.zip-submit-btn{
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffdd5f;
  color:#3d2100;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
}

.facility-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facility{
  background-color: #fff0b9;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
  margin: 5px;
  padding: 20px;
}

.facility-name{
  font-family: "Pockota Light";
  font-weight: bold;
  font-size: 1.5rem;
  color:#3d2100;
}

.facility-address, .facility-phone{
  font-family: "Plus Jakarta Sans";
  color:#3d2100;
}

.zip-wrapper{
  display: flex;
  justify-content:space-evenly;
  border: 2px solid #e0dcd6;
  border-radius: 23px;
  margin: 10px;
}

a {
  text-decoration: none;
}
