h2{
    font-family: "Pockota Light";
    color: #3d2100;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    position: relative;
}

p.hero{
  font-family: "Plus Jakarta Sans";
  color: #3d2100;
  text-align: center;
  font-size: 1rem;
}

.file-input {
  display: none;
}

.content{
    display: flex;
    flex-direction: column;
}
.file-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-box{
  background-color: #fff0b9;
  display: flex;
  min-width: 40vw;
  min-height: 20vh;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans";
}

.file-submit-btn{
  display: flex;
  background-color: #ffdd5f;
  border: none;
  padding: 10px 30px;
  font-family: "Plus Jakarta Sans";
  border-radius: 20px;
}

.prediction{
  font-family: "Pockota";
  background-color: #ffdd5f;
  min-height: 15rem;
  color: #3d2100;
  font-size: 3rem;
  text-align: center;
}

.zip-form{
  display: flex;
  flex-direction: column;
}